<ion-content class="article-list" scroll="false">

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新..." refreshingSpinner="circles"
                           refreshingText="努力刷新数据中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="article-card" *ngFor="let articleItem of article?.result; let $index = index;">
    <ion-item>
      <ion-avatar item-left>
        <img src="./assets/img/wolf2.jpg">
      </ion-avatar>
      <h2><a (click)="gotoPage(articleItem.url)">{{articleItem.title}}</a></h2>
      <p>{{articleItem.date}}</p>
    </ion-item>
    <img *ngIf="articleItem.image" [src]="articleItem.image ">
    <ion-card-content>
      <p>{{articleItem.overview}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col center text-left>
        <ion-note>
          <ion-icon name="brush"></ion-icon>
          <a>{{articleItem.author || '破狼'}}</a>
        </ion-note>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          <a>第{{$index + 1}}篇/共{{article?.total}}篇</a>
        </ion-note>
      </ion-col>
      <ion-col center text-right>
        <ion-note>
          <a (click)="gotoPage(articleItem.url)">阅读原文</a>
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-label text-center center *ngIf="article?.total && article?.result.length >= article?.total">数据已加载完成</ion-label>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)"
                       *ngIf="article?.total && article?.result.length < article?.total">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

