<section class="article-list">
  <ion-card *ngFor="let articleItem of article?.result; let $index = index;">
    <ion-item>
      <ion-avatar item-left>
        <img src="./assets/img/wolf2.jpg">
      </ion-avatar>
      <h2><a (click)="gotoPage(articleItem.url)">{{articleItem.title}}</a></h2>
      <p>{{articleItem.date}}</p>
    </ion-item>
    <img *ngIf="articleItem.image" [src]="articleItem.image ">
    <ion-card-content>
      <p>{{articleItem.overview}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col center text-left>
        <ion-note>
          <ion-icon name="brush"></ion-icon>
          <a>{{articleItem.author || '破狼'}}</a>
        </ion-note>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          <a>第{{$index + 1}}篇/{{article?.total}}篇</a>
        </ion-note>
      </ion-col>
      <ion-col center text-right>
        <ion-note>
          <a (click)="gotoPage(articleItem.url)">阅读原文</a>
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</section>
